packages:
  yum:
    jq: []

commands:
  parameters_cache:
    command: |
      /opt/aws/bin/cfn-get-metadata --region `{"Ref": "AWS::Region"}` --stack `{"Ref": "AWS::StackName"}` \
        --resource AWSEBBeanstalkMetadata --key AWS::ElasticBeanstalk::Ext |
        jq .Parameters > /etc/elasticbeanstalk/parameters-cache
