packages:
  yum:
    jq: []

commands:
  # This removal step is performed here, rather than in db.config, to
  # ensure proper ordering. Commands in a commands block are not
  # executed in the order they appear in the block; the execution order
  # is non-deterministic.
  remove_old_postgres:
    command: >
      /usr/bin/yum -y remove 'postgres*'
  parameters_cache:
    command: |
      /opt/aws/bin/cfn-get-metadata --region `{"Ref": "AWS::Region"}` --stack `{"Ref": "AWS::StackName"}` \
        --resource AWSEBBeanstalkMetadata --key AWS::ElasticBeanstalk::Ext |
        jq .Parameters > /etc/elasticbeanstalk/parameters-cache
