commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_workers.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      source /opt/elasticbeanstalk/deployment/env

      if grep -q ELASTIC_CLOUD_INPUT_QUEUE_URL /var/elasticbeanstalk/parameters-cache; then
        if systemctl is-active --quiet worker_elastic_cloud; then
          logger -t worker_elastic_cloud 'Restarting worker after deploy.'
          systemctl restart worker_elastic_cloud
        else
          logger -t worker_elastic_cloud 'Starting worker after deploy.'
          systemctl start worker_elastic_cloud
        fi
      else
        logger -t worker_elastic_cloud 'This does not appear to be a worker node. Disabling worker after deploy.'
        systemctl disable worker_elastic_cloud
        systemctl stop worker_elastic_cloud
      fi

      if grep -q S3_RAW_INPUT_QUEUE_URL /var/elasticbeanstalk/parameters-cache; then
        if systemctl is-active --quiet worker_s3_raw; then
          logger -t worker_s3_raw 'Restarting worker after deploy.'
          systemctl restart worker_s3_raw
        else
          logger -t worker_s3_raw 'Starting worker after deploy.'
          systemctl start worker_s3_raw
        fi
      else
        logger -t worker_s3_raw 'This does not appear to be a worker node. Disabling worker after deploy.'
        systemctl disable worker_s3_raw
        systemctl stop worker_s3_raw
      fi
