files:
  "/etc/init/worker_s3_raw.conf":
    content: |
      description "Start worker for writing raw points to S3"

      start on runlevel [2345]
      stop on runlevel [!2345]

      respawn
      respawn limit unlimited

      script
        cd /var/app/current
        logger -t worker_s3_raw 'Starting worker'
        sudo -u webapp bash -lc 'rake workers:s3_raw' | logger -t worker_s3_raw
      end script

  "/etc/init/worker_elastic_cloud.conf":
    content: |
      description "Start worker for writing points to elastic cloud"

      start on runlevel [2345]
      stop on runlevel [!2345]

      respawn
      respawn limit unlimited

      script
        cd /var/app/current
        logger -t worker_elastic_cloud 'Starting worker'
        sudo -u webapp bash -lc 'rake workers:elastic_cloud' | logger -t worker_elastic_cloud
      end script

commands:
  01_match_nginx_timeout_to_sqs_timeout:
    command: |
      VISIBILITY_TIMEOUT=$(jq -r .AWSEBVisibilityTimeout /etc/elasticbeanstalk/parameters-cache)
      if [[ "${VISIBILITY_TIMEOUT}" != "null" ]]; then
        echo "proxy_read_timeout ${VISIBILITY_TIMEOUT}s;" > /etc/nginx/conf.d/worker.conf
        service nginx restart
      fi
